<html>
    <head>
        <title>Flask</title>
    </head>
    <body>
        <h2>Translater</h2>
        <h3>コメント登録</h3>
        <form action="/" name="comment" method="POST">
            <input type="text" value="initial strings" name="comment">
            <input type="submit" id="search" name="search" value="Search">
        </form>
        <form action="/image" name="comment" method="POST">
                <input type="submit" name="image" value="Import">
        </form>
        <h3>コメント表示</h3>
        
    </body>
</html>